@import url('./root.css');

*{
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
}
body, html {
    height: 100%;
    
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-main);
}

header{
    position: fixed;
    z-index: 99999;
    width: 100%;
    background-color: var(--bg-terciary);
    display: flex;
    justify-content:center ;
    padding: 10px 0;
}

nav{
    display: flex;
    width: 80%;
    
}
@media (max-width:959px){
    header{
        display: flex;
        align-items: center;
        
    }

    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        
    }

    ul{
       display: none;
    }
    li{
        display: none;
    }
}

.title{

    color: var(--text-primary);
    font-family: "IBM Plex Sans", sans-serif;
    cursor: pointer;
    font-size:22px;
}


ul{
    display: flex;
    gap: 32px;
    margin-left: auto;
    list-style: none;
    font-size: 13px;
    color: var(--text-secondary);
    font-weight: 600;
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#light{
    color: var(--accent-primary);
    border: 0.5px solid var(--accent-primary);
    padding: 10px 10px;
    border-radius: var(--radius-sm);
    transition: background-color var(--transition-normal);
}

#light:hover{

    background-color: var(--accent-primary);
    color: var(--text-primary);
}

.typewriter {
    color: var(--accent-primary);
    border-right: 3px solid var(--text-primary); /* O cursor */
    padding-right: 5px;
    animation: blink 0.7s infinite;
}


@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: var(--text-primary); }
}

.hero {
    position: relative; /* Necessário para posicionar a seta */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    min-height: 100vh;       /* Ocupa a altura total da tela */
    width: 100%;
    background-color: var(--bg-main);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.077);
}

.hero-assets {
    position: relative; /* Necessário para posicionar a seta */
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
    min-height:10vh;       /* Ocupa a altura total da tela */
    width: 100%;
    background-color: var(--bg-main);
    
}

.hero-content {
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna (um embaixo do outro) */
    align-items: center;
    
    gap: 20px; /* Espaço entre a foto e o nome */
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%; /* Deixa a foto redonda */
    object-fit: cover;
    margin-top: px;
    border: 4px solid var(--text-primary); /* Moldura com a cor do seu tema */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.name-title {
    font-size: 2rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--text-primary);
    margin-bottom: -10px; /* Aproxima o nome do cargo embaixo */
}

.typewriter-text {
    font-size: 1rem;
    color: var(--accent-secondary);
    font-family: "IBM Plex Sans", sans-serif;
}
.dowload-cv{
    border: 0.5px solid var(--accent-primary);
    background: none;
    color: var(--accent-primary);
    padding: 10px 10px;
    border-radius: var(--radius-sm);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    position: relative;
    top: 25px;
    transition: background-color var(--transition-normal);
}

.dowload-cv:hover{
    background-color: var(--accent-primary);
    color: var(--text-primary);
}

    .scroll-down {
    position: absolute;
    bottom: 60px; /* Distância do fundo da tela */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.ler-mais{
    margin-top: 230px;
    color: var(--text-primary);
}

.scroll-down {
    position: absolute;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    /* Usando cor fixa branca ou amarela temporariamente se não vir */
    border-bottom: 3px solid var(--text-primary); 
    border-right: 3px solid var(--text-primary);
    transform: rotate(45deg);
    margin: 0px;
    animation: arrow-bounce 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}


@keyframes arrow-bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(45deg);
        opacity: 0.5;
    }
    40% {
        transform: translateY(10px) rotate(45deg);
        opacity: 1;
    }
    60% {
        transform: translateY(5px) rotate(45deg);
    }
}
